/* Estilo da Navbar */
#navbar {
    background-color: #9510ac;
}

#img {
    width: 100px;
}

#nav-link {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

#navbar .collapse {
    margin-left: 35%;
}

#h1,
#i {
    color: #fff;
    margin-left: 15px;
}

#i {
    scale: 2;
}

.anuncio {
    background-color: #808080;
    margin: 10px 10px;
    text-align: center;
    height: 100px;
}

/* Estilos personalizados para o formulário de recuperação de senha */

/* Definindo margem e padding para o corpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

/* Estilizando o container principal */
.main-container {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

/* Tela de login*/
.box {
    width: 500px;
    height: 450px;
    background-color: #ffffff;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border: 1px solid #000;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control:hover {
    border-color: rgb(44, 44, 255);
}

.form-control {
    border-color: rgb(91, 91, 92);
    border: 1.5px solid;
}

.centro {
    
    text-align: center;
}

.logo {
    width: 100px;
}

.btn {
    background-color: #9510ac;
    color: wheat;
    text-align: center;
    width: 100%;
}

.btn:hover {
    background-color: #b53bca;
    color: wheat;
}

.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.grid-senhas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: inline-flex;
}

.link-recuperar-senha, .link-cadastro{
    width: 49%;
}

.link-recuperar-senha a {
    
    text-decoration: none;
    font-weight: bold;
    display: contents;
}
.link-cadastro a {
    margin-left: 35.02%;
    text-decoration: none;
    font-weight: bold;
}

.input-senha{
    width: 95%;
}

.senha{
    height: 90px;
    display: grid;
    grid-template-columns: 95% 5%;
}

.icon i{
    margin-top: 45px;
}

/* Estilo para o título */
h2 {
    margin-bottom: 20px;
    color: #9510AC;
}

/* Estilo para o parágrafo */
p {
    margin-bottom: 20px;
}

/* Estilo para o botão */
.col-md-12 .outline-primary {
    background-color: #9510AC;
    border-color: #9510AC;
    color: #ffffff;
    width: 100%;
}

.col-md-12 .btn:hover {
    background-color: #b53bca;
    color: #ffffff;
}

/* Estilo para inputs */
.form-control {
    margin-bottom: 20px;
}

/* Estilo para a imagem do logotipo */
.logo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        size: 16px;
    }

    .btn-primary {
        width: 80%;
        height: 45px;
    }

    .link-recuperar-senha a{
        font-size: 20px;

    }

    .link-cadastro a{
        margin-left: 18.9%;
        font-size: 20px;
    }

    .box {
        width: 500px;
        height: 450px;
        background-color: #ffffff;
        padding: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 10px;
        border: none;
    
    }
    
}

@media (max-width: 425px){
    .link-recuperar-senha a{
        font-size: 15px;
    }

    .link-cadastro a{
        margin-left: 19%;
        font-size: 15px;
    }

}

@media (max-width: 375px){
    .link-recuperar-senha a{
        font-size: 13px;
    }

    .link-cadastro a{
        margin-left: 14.9%;
        font-size: 13px;
    }

}

@media (max-width: 959px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        size: 18px;
    }

    .btn-primary {
        width: 80%;
        height: 50px;
    }
}

@media (min-width: 959px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        size: 20px;
    }
}
