/* Estilo da Navbar */
#navbar {
    background-color: #9510ac;
}

#img {
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-40%);

}

#nav-link {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

#navbar .collapse {
    margin-top: 10px;
    margin-left: 0;
}

#h1,
#i {
    color: #fff;
    margin-left: 15px;
}

#i {
    scale: 2;
}

.anuncio {
    background-color: #808080;
    margin: 10px 10px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
}

.anuncio-lateral {
    background-color: #808080;
    margin: 10px 10px;
    text-align: center;
    height: 1200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
}

.cadastro-form {
    width: 600px;
    height: 470px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

.form-control:hover {
    border-color: rgb(44, 44, 255);
}

.form-control {
    border-color: rgb(91, 91, 92);
    border: 1.5px solid;
}

.img-center {
    text-align: center;
}

.img-center img {
    width: 70px;
}

.img-center .btn {
    background-color: #9510ac;
    color: white;
    text-decoration: none;
    width: 49.5%;
}

.img-center .outline-primary {
    background-color: #fff;
    color: #9510ac;
    text-decoration: none;
    width: 49.5%;
    border: 1px solid #9510ac;
}

.img-center .btn:hover {
    background-color: #b53bca;
    color: white;
}

.img-center .outline-primary:hover {
    background-color: #dfdfdf;
    color: #9510ac;
    border: 1px solid #9510ac;
}

.btn a {
    text-decoration: none;
    color: white;
}

/* Estilos personalizados para o formulário de recuperação de senha */

/* Definindo margem e padding para o corpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

/* Estilizando o container principal */
.main-container {
    max-width: 60%;
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

/* Estilo para o título */
h2 {
    margin-bottom: 20px;
    color: #9510AC;
}

/* Estilo para o parágrafo */
p {
    margin-bottom: 20px;
}

/* Estilo para o botão */
.col-md-12{
    display: grid;
    row-gap: 10px;
    justify-items: center;
}

.col-md-12 .outline-primary {
    background-color: #9510AC;
    border-color: #9510AC;
    color: #ffffff;
    width: 80%;
}

.col-md-12 .btn:hover {
    background-color: #b53bca;
    color: #ffffff;
}

.col-md-12 .outline-primary-02 {
    background-color: #ffffff;
    border-color: #9510AC;
    color: #9510AC;
    width: 80%;
}

/* Estilo para inputs */
.form-control {
    margin-bottom: 20px;
}

/* Estilo para a imagem do logotipo */
.logo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.acessibilidade-box {
    border: 1px solid #000;
    padding: 10px 100px;
    text-align: center;
    border-radius: 10px;
}

.logo-title {
    margin-bottom: 20px;
}

.logo-title img {
    width: 100px;
}

.opcoes {
    text-align: left;
    margin-bottom: 20px;
}

.opcoes h2 {
    margin-bottom: 10px;
}

.opcao {
    margin-bottom: 10px;
}

.barra-vertical {
    width: 2px;
    height: 100px;
    background-color:#9510AC;
    display: inline-block;
    margin: 0 20px;
}

.opcoes-direita {
    text-align: left;
    margin-bottom: 20px;
}

.btn-confirmar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-confirmar:hover {
    background-color: #0056b3;
}

/* Estilos adicionais para checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}

.btn-confirmar{
    background-color: #9510AC;;
}
.btn-confirmar:hover{
    background-color: #9510AC;;
}

/* Estilos responsivos */
@media (max-width: 767px) {
    .main-container {
        max-width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        size: 16px;
    }

    .btn-primary {
        width: 80%;
        height: 45px;
    }

    .carousel-item img {
        width: 100%;
    }

    /* Estilos para o header em telas menores que 768px */
    #h1 {
        font-size: 24px;
    }

    #nav-link {
        font-size: medium;
    }

    #i {
        margin-left: 10px;
        margin-right: 10px;
    }

    #navbar .collapse {
        margin-left: 0;
    }

    /* Ajuste do tamanho da imagem no carrossel */
    .carousel-item img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        size: 18px;
    }

    .carousel-item img {
        width: 75%;
    }

    .btn-primary {
        width: 80%;
        height: 50px;
    }

    /* Estilos para o header em telas de 768px a 959px */
    #h1 {
        font-size: 28px;
    }

    #nav-link {
        font-size: large;
    }

    #i {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Ajuste do espaço da barra de navegação */
    #navbar .collapse {
        margin-left: 0;
    }
}

@media (min-width: 959px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        size: 20px;
    }

    .carousel-item img {
        width: 50%;
    }

    .navbar-nav {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 10px;
        /* Adicionando margem inferior para separar os itens */
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        /* Removendo a margem esquerda para alinhar os itens */
    }

    /* Estilos para o header em telas maiores que 959px */
    #h1 {
        font-size: 32px;
    }

    #nav-link {
        font-size: large;
    }

    #i {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Ajuste do espaço da barra de navegação */
    #navbar .collapse {
        margin-left: 30%;
    }

    #navbarTogglerDemo03 {
        justify-content: flex-end;
    }

    #navbarTogglerDemo03 .navbar-nav {
        flex-direction: row;
        margin-left: auto;
    }

    #navbarTogglerDemo03 .nav-item {
        margin-left: 0; /* Remova a margem esquerda */
    }
}

@media (min-width: 992px) {
    /* Estilos para telas maiores que 992px */
    #navbarTogglerDemo03 {
        justify-content: flex-end;
    }

    #navbarTogglerDemo03 .navbar-nav {
        flex-direction: row;
        margin-left: auto;
    }

    #navbarTogglerDemo03 .nav-item {
        margin-left: 0; /* Remova a margem esquerda */
    }
}

.mt-3{
    display: flex;
    justify-content: center;
}

/* Estilos para o carrossel */
.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o ícone dentro da barra de pesquisa */
.input-group .form-control {
    padding-left: 2.5rem;
    /* Espaço para o ícone */
}

.input-group .input-group-text {
    background: transparent;
    border: none;
    padding-left: 0.5rem;
    padding-right: 0;
    position: absolute;
    z-index: 2;
}

.input-group .input-group-text i.bi-search {
    font-size: 1.2rem;
    /* Ajuste o tamanho do ícone conforme necessário */
    color: #6c757d;
    /* Ajuste a cor do ícone conforme necessário */
}

.input-group {
    position: relative;
}

.input-group .form-control {
    position: relative;
    z-index: 1;
}

.nav-link:hover{
    text-decoration: 3px underline;
}

#menu {
    justify-content: flex-end;
}

#menu {
    flex: 1;
}
